body { background: #712f6b; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 47px; display: flex; }
.block-sms-0 { color: #3c5784; font-size: 17px; margin-bottom: 5px; }
.block-router-1 { color: #57c654; font-size: 18px; margin-bottom: 5px; }
.block-database-2 { color: #2c9467; font-size: 13px; margin-bottom: 5px; }
.block-cluster-3 { color: #17cdeb; font-size: 12px; margin-bottom: 5px; }
.block-router-4 { color: #379449; font-size: 14px; margin-bottom: 5px; }
.block-metrics-5 { color: #94fb47; font-size: 21px; margin-bottom: 5px; }
.block-helper-6 { color: #b53e05; font-size: 21px; margin-bottom: 5px; }
.block-filter-7 { color: #6e2d44; font-size: 14px; margin-bottom: 5px; }
.block-router-8 { color: #a6d974; font-size: 14px; margin-bottom: 5px; }
.block-shipping-9 { color: #b3e180; font-size: 15px; margin-bottom: 5px; }